*¨{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}
:root{
    --text-color:#F79BD3;
    --bg-color:#
}